{
  "semi": false,
  "singleQuote": false,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "semi": true,
        "useTabs": false,
        "singleQuote": true
      }
    }
  ]
}
